*.iml
# Archivos generados por el sistema de builds
.gradle
# Archivos de propiedades locales (¡MUY IMPORTANTE!)
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Archivos de Keystore (¡MUY IMPORTANTE!)
*.jks
*.keystore
# Otros archivos generados
captures/
.cxx/
*.apk
*.aab
.idea/